:root {
  --bg-one: #0f2027; /* fallback for old browsers */
  --bg-two: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  --bg-three: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.container-fluid {
  padding: 0 !important;
}

#menu-principal {
  width: 100%;
  background-color: var(--bg-one);
  background-color: var(--bg-two);
  background-color: var(--bg-three);
}

// utilities
$width: 100%;
$height: 100%;
$v_height: 25vh;

/* color fonts */
$color_white: white;
$color_black: black;

/* colors */

$color_primary: #0f2027;
$color_secondary: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
$color_thrird: linear-gradient(to right, #2c5364, #203a43, #0f2027);

// fonts
$text-mistery: "Lobster", cursive;

@mixin aligns() {
  justify-content: center;
  align-items: center;
}

// redes colors
$redes: (
  facebook: #3b5998,
  youtube: #bb0000,
  instagram: #125688,
);

@each $red, $color in $redes {
  .btn-#{$red} {
    color: $color;
  }
}
